<br><br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div ><%= @user.username.capitalize %>'s Profile</div>
      <center>
        <p>
          <% if @user == current_user %>
            <%= link_to "(edit info)", edit_user_registration_path(@user),%>
          <% end %>
        </p>
        <% if @user == current_user && @user.premium? %>
          <%= button_to "(downgrade)", { :controller => 'users', :action => 'downgrade' } %>
          <% elsif @user == current_user && @user.standard? %>
            <%= link_to "Upgrade to Premium!", new_premium_path %>
        <% end %>
        <br><br>
        <p><strong>Username:</strong> <%= @user.username %></p>
        <p><strong>Email:</strong> <%= @user.email %></p>
        <p><strong>Member since:</strong> <%= @user.created_at.strftime("%B %d, %Y") %></p>
        <p><strong>Membership status:</strong> <%= @user.role %></p>
        <div class = "media">
          <h2>Wikis</h2>
            <%= link_to "", wikis_path %>
          <h4>
            <% @user.wikis.each do |w| %>
              <%= link_to w.title, w %>
              <% if w.private? %>
                <small>(private)</small>
              <% end %>
              <br />
            <% end %>
          </h4>
        </div>
        <br><br>
       <% unless @user.wiki_collaborations.empty? %>
         <h2>Collab Wikis</h2>
         <h4>
           <% @user.wiki_collaborations.each do |collab| %>
             <%= link_to collab.title, wiki_path(collab) %>
             <% if collab.private? %>
               <small>(private)</small>
             <% end %>
           <% end %>
         </h4>
       <% end %>
      </center>
  </div>
    <div class="pull-right">
      <% if current_user %>
        <%= link_to "New Wiki", new_wiki_path(@wiki) %>
      <% end %>
    </div>
</div>
