<%= form_for [wiki] do |f| %>
<% if current_user.admin? || current_user.premium? || @wiki.users.include?(current_user) %>
    <div class="form-group">
      <%= f.check_box :private, 'checkbox pull-right' do %> 
        <%= f.check_box :private, checked: true %> Private wiki
      <% end %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title %>
     <%= f.text_field :title, class: 'form-control', placeholder: "Enter post title" %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter post body" %>
  </div>
  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
    <%= link_to 'Cancel', @wiki, class: 'btn btn-danger' %>
  </div>
<% end %>
